
#disconnected {
    background: rgba(250,10,0, .8);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height 2px;
    color: #FFF;
    text-shadow: #111 0px 1px 1px;
    bold()
    z-index: 1;

    div {
        background: rgba(250,10,0, .8);
        position:fixed;
        width:200px;
        height:22px;
        line-height:22px;
        // top:50%;
        top: 2px;
        left:50%;
        // overflow:hidden;
        // margin-top:-25px;
        margin-left:-100px;
        text-align:center;

        border-radius: 0 0 5px 5px;
    }
}
