.no-config
    .page-title
        color $invalid-color
        font-size 600%

    p
        font-size 300%
        line-height 1.3
        a
            color $invalid-color

        &.ip
            font-size 200%
            margin-top 40px
