@require '_theme-evaneos';
@require 'turaco-styl/themes/simple-blue';
$page-100 = false
$body-background = #f4e8d8

@require 'turaco-styl/index';
@require 'turaco-styl/components/index';
@require '_header';
@require '_disconnected';
@require 'components/spinner';
@require 'components/actions';

.raspberry-list
    display flex
    flex-wrap wrap
    justify-content center
    align-content center
    align-items center stretch

    .raspberry-item
        position relative
        margin 5px
        padding 20px
        z-depth-1()
        background #fff
        flex 1
        min-width 500px
        max-width 700px

        @media (max-width: 500px)
            min-width 100%
        @media (min-width: 1500px)
            min-width 550px

        .raspberry > .spinner
            absolute bottom 20px right 20px


    fieldset
        margin-left 0
        margin-right 0

    .actions
        absolute top 20px right 20px
        width 130px
        .list > *
            position relative
        .spinner
            absolute bottom 2px right 5px

        @media (max-width: 500px)
            position relative
            top auto
            right auto

    .status-container
        .raspberry-status
            //

        .screen-status
            display inline-block
            position relative
            width 1.5em
            height 1.5em
            vertical-align middle
            margin-left .5rem

            .icon
                background url('screen-2.svg')
                width 1.5em
                height 1.5em
                display inline-block
                background-size contain
            .status
                vertical-align bottom
                width .8em
                height .8em
                absolute right -2px bottom -2px
                border-radius .8em

                &.on
                    background $valid-color
                &.off
                    background $invalid-color
                &.unavailable
                    width .9em
                    height .9em
                &.unavailable::before, &.unavailable::after
                    absolute left 0 top 50%
                    height .2em
                    width 100%
                    margin-top -.1em
                    content ''
                    background $invalid-color

                &.unavailable::before
                    transform rotate(45deg)
                &.unavailable::after
                    transform rotate(-45deg)


    .button-container
        margin-top 10px
        button
            margin-right 5px
