@require '_theme-evaneos';
@require 'turaco-styl/themes/simple-blue';
$page-100 = false
$body-background = #f4e8d8

@require 'turaco-styl/index';
@require 'turaco-styl/components/index';
@require '_install';
@require '_header';
@require '_no-config';
@require '_disconnected';
@require 'components/spinner';
@require 'components/actions';
@require 'components/raspberry-list';
@require 'components/raspberry';

.button-container
    margin-top 10px
    button
        margin-right 5px
